.card {
  width: 50%;
  margin: 16px auto;
}
.cardone {
  background-color: white;
  padding: 24px 24px;
  max-width: 450px;
  margin: auto;
  min-height: 350px;
}
.cardone h6 {
  font-size: 0.8rem;
}
.cardone p {
  font-size: 0.8rem;
}
.title {
  margin-top: 16px;
}
.description {
  margin-top: 16px;
}

@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 16px auto;
  }
}
